<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">




<dom-module id="lstreaming-component">
  <template>
    <style>
      :host {
        font-family: sans-serif;
      }
      paper-card {
        height:800px; 
        width: 800px;
        margin: 16px;
      }
      card-content {
        align-content: center;
        height: 600px;
        width: 600px;
      }
      h2 {
        margin: 0.37em;
      }
      iframe {
        height: 480px;
        width: 768px;
      }
    </style>
    
    <paper-card>
      <div class="card-header">
        <h2>Streaming</h2>
      </div>
      <div class="card-content">
        <iframe src="{{image}}"></iframe>
        <p>Alguma informação relevante para o usuário</p>
      </div>
    </paper-card>
   </template>
  <script>
    class LstreamingComponent extends Polymer.Element {
      static get is() { return 'lstreaming-component'; }
      static get properties() {
        return {
          image: {
            type: String,
            notify: true
          }
        }
      }

      ready() {
        super.ready()
        
      }
    }
    customElements.define(LstreamingComponent.is, LstreamingComponent);
  </script>
</dom-module>