<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../styles/status-card-style.html">


<dom-module id="status-card">
  <template>
    <style include="my-colors">
      :host {
        font-family: sans-serif;
      }
      paper-card {
        height: 300px;
        width: 300px;
        margin: 16px;
      }
      card-content {
        height: 300px;
        width: 300px;
      }
      h2 {
        margin-bottom: 0.37em;
        margin-top: 0.37em;
        color: #f5f5f5;
      }
    </style>
    
    <paper-card class$=[[elementName]] style="height:300px; width: 300px;">
      <div style="color:#f5f5f5" class="card-header">
        <h2>
          <iron-icon icon=[[elementIcon]]></iron-icon>
          <span>[[elementTitle]]</span>
        </h2>
        <span style="font-style: italic">[[elementTips]]</span>
      </div>
      <div class="card-content flex" style="background-color:#f5f5f5">
        Some content
      </div>
    </paper-card>

  </template>
  <script src="../utils.js"></script>
  <script>
    class StatusCard extends Polymer.Element {
      static get is() { return 'status-card' }
      static get properties () {
        return {
          elementName: {
            type: String
          },
          elementTitle: {
            type: String,
            computed: 'getTitle(elementName)'
          },
          elementIcon: {
            type: String,
            computed: 'getIcon(elementName)'
          },
          elementTips: {
            type: String,
            computed: 'getTips(elementName)'
          },
          data: {
            type: Object
          }
        }
      }

      getIcon(elementName) {
        console.log(elementData[elementName]['icon']);
        return elementData[elementName]['icon'];
      }

      getTitle(elementName) {
        console.log(elementData[elementName]['title']);
        return elementData[elementName]['title'];
      }

      getTips(elementName) {
        console.log(elementData[elementName]['tips']);
        return elementData[elementName]['tips'];
      }


    }
    customElements.define(StatusCard.is, StatusCard);
    </script>
</dom-module>