<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">




<dom-module id="voip-component">
  <template>
    <style>
      :host {
        font-family: sans-serif;
      }
      paper-card {
        height:800px; 
        width: 800px;
        margin: 16px;
      }
      card-content {
        align-content: center;
        height: 600px;
        width: 600px;
      }
      iframe {
        height: 480px;
        width: 768px;
      }
      h2 {
        margin: 0.37em;
      }
    </style>
    
    <paper-card>
      <div class="card-header">
        <h2>Calls</h2>
      </div>
      <div class="card-content">
        <iframe src="{{image}}"></iframe>
        <p>Alguma informação relevante para o usuário</p>
      </div>
    </paper-card>
   </template>

  <script>
    class VoipComponent extends Polymer.Element {
      static get is() { return 'voip-component'; }
      static get properties() {
        return {
          image: {
            type: Object,
            notify: true
          }
        }
      }

      
      /*TODO: Criar observer para quando 
        image mudar
        que ai eu preciso dar reload no iframe mané

        quando voltar amanha, da uma olhada no prepare update <<<
      
      */

      ready() {
        super.ready();
        // console.log(this.controller);
        // console.log(controller)
        // this._loadImage()
      }
      
      reloadImage() {
        api.getImages
      }
      
      updateImage() {
        api.getImages()
        
      }
    }
    customElements.define(VoipComponent.is, VoipComponent);
  </script>
</dom-module>